bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.OnlineCalculator/.idea/encodings.xml
/.idea/.idea.OnlineCalculator/.idea/git_toolbox_prj.xml
/.idea/.idea.OnlineCalculator/.idea/indexLayout.xml
/.idea/.idea.OnlineCalculator/.idea/vcs.xml
