@inherits LayoutComponentBase

<PageTitle>OnlineCalculator</PageTitle>

<div class="page">
  

    <main>
        <div class="flex justify-center">
            <h3 class="text-3xl">C# Online Calculator. Check <a href="" class="text-blue-500 hover:text-blue-700">Source Code</a> here.</h3><br/>
            <h4>Crafted with love ♥ by <a href="" class="text-blue-500 hover:text-blue-700">Melvin Odhiambo</a></h4>
        </div>
        <article class="content px-4">
            @Body
        </article>
     
    </main>
</div>